<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Cross Browser Test Suite">
    <!-- Registration & Login -->
    <test name="Registration Process Chrome">
        <parameter name="browser" value="chrome">

        </parameter>
        <classes>
            <class name="com.seleniumpractice.tests.RegistrationAndLoginProcessTest">

            </class>
        </classes>
    </test>

    <test name="Registration Process Firefox">
        <parameter name="browser" value="firefox">

        </parameter>
        <classes>
            <class name="com.seleniumpractice.tests.RegistrationAndLoginProcessTest">

            </class>
        </classes>
    </test>

    <!-- Parametrized tests -->
    <test name="Search Products Chrome">
        <parameter name="browser" value="chrome">

        </parameter>
        <classes>
            <class name="com.seleniumpractice.tests.SearchProductTest">

            </class>
        </classes>
    </test>
    <test name="Search Products Firefox">
        <parameter name="browser" value="firefox">

        </parameter>
        <classes>
            <class name="com.seleniumpractice.tests.SearchProductTest">

            </class>
        </classes>
    </test>

    <!-- Adding products to the cart -->
    <test name="Add selected product to the cart Chrome">
        <parameter name="browser" value="chrome">

        </parameter>
        <classes>
            <class name="com.seleniumpractice.tests.OrderingFlowTest">

            </class>
        </classes>
    </test>
    <test name="Add selected product to the cart Firefox">
        <parameter name="browser" value="firefox">

        </parameter>
        <classes>
            <class name="com.seleniumpractice.tests.OrderingFlowTest">

            </class>
        </classes>
    </test>
</suite>
